<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['overview']" routerLinkActive="active">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['manage']" routerLinkActive="active">Manage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['export']" routerLinkActive="active">Export</a>
    </li>
  </ul>
  <hr class="my-2" />
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['console']" routerLinkActive="active">Console</a>
    </li>
  </ul>
</nav>
