<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-primary">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">HomeBridge Outlets</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="settings" routerLinkActive="active">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="404" routerLinkActive="active">Help</a>
      </li>
    </ul>
    <button class="btn btn-success" type="submit">Add Accessory</button>
  </div>
</nav>
